.edit-secret-container {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-secret-table {
  width: 400px;
}

.secret-form-header {
  text-align: center;
  padding-bottom: 5px;
}

.secret-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 6px;
  min-width: 100px;
}
.secret-eye {
  cursor: pointer;
  height: 20px;
  margin: 4px;
  filter: invert(1);
  opacity: 0.8;
}
.secret-input-container {
  display: flex;
  align-items: center;
}
.secret-button-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.secret-message-display {
  text-align: center;
  padding-top: 5px;
}
.secret-message-error {
  font-weight: bold;
  color: rgb(148, 49, 49);
}
.secret-message-success {
  font-weight: bold;
  color: rgb(80, 187, 89);
}
