.body-menu-container {
  flex-direction: column;
  width: 240px;
  border-right: 1px solid rgb(94, 94, 94);
  margin-left: 0px;
  position: absolute;
  z-index: 1;
  transition: transform 0.1s;
  overflow-y: scroll;
}

.body-menu-addbtn-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid rgb(94, 94, 94);
}

.body-menu-bottom-container {
  padding: 15px;
}

.secret-container {
  font-size: 1.1em;
  display: flex;
}
.secret-container-label:hover {
  color: rgb(80, 187, 89);
}
.secret-container-copy {
  transform: translateY(-2px);
  height: 15px;
  filter: invert(1);
  padding-left: 4px;
}
.secret-container:hover {
  color: white;
  transform: scale(1.02);
  cursor: pointer;
}
