.secret-component-container {
  flex: 1 0 21%;
  margin: 15px;
  max-width: 25%;
  min-width: 280px;
}

.secret-component-card {
  opacity: 0.8;
}
.secret-component-card:hover {
  opacity: 1;
}

.secret-component-main {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.secret-component-left {
  flex: 1;
}
.secret-component-right {
  display: flex;
}
.secret-component-header {
  font-size: 1.1em;
  font-weight: bold;
}
.secret-component-id {
  font-size: 0.8em;
}
.card-icon {
  display: inline-flex;
  height: 20px;
  justify-content: center;
  padding-left: 10px;
}
