.home-main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.home-intro-container {
  text-align: center;
  font-size: 0.9em;
  padding: 15px;
}
.home-icons {
  display: inline-block;
  height: 15px;
  transform: translateY(-1px);
  margin-top: 0;
}
