.root-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-container {
  display: flex;
  border-bottom: 1px solid rgb(94, 94, 94);
}

.header-left {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding: 5px;
  padding-right: 15px;
  border-right: 1px solid rgb(94, 94, 94);
}

.header-menu-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.header-menu-icon-sizable {
  height: 30px;
}

.header-main {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  height: 100%;
}

.header:hover {
  color: white;
  cursor: pointer;
}

.header-right {
  display: flex;
  flex: 2;
  align-items: center;
}

.header-dropdown-container-parent {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid rgb(94, 94, 94);
  border-right: 1px solid rgb(94, 94, 94);
  margin-right: 10px;
}

.header-settings-sizable {
  height: 30px;
}

.body-container {
  display: flex;
  flex: 1;
  overflow-y: scroll;
}

.body-main-container {
  width: 100%;
}
